/* LAYOUT STYLESHEET RULES: 
   Do not override .section-heading in layout files 
*/

.feature-layout main {
  display: grid;
  gap: var(--gap-3);
  padding: var(--gap-4) 0 0;
}

.feature-layout h3 {
  border: 0;
  padding: var(--space-md);
}

/*
.feature-layout main {
  padding: 0 var(--space-lg);
}
  */



.feature-layout .section-heading {
  max-width: 720px;
  justify-content: start;
  border: 0;
}

/* --- Video ---- */

.feature-layout .section--video {
  display: grid;
  grid-template-columns: 1fr;
  max-width: 900px;
  justify-self: center;
  gap: var(--gap-2);
}

.feature-layout .process-video {
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.feature-layout .video__wrapper {
  border-radius: 32px;
  overflow: clip;
}

/* --- Intro Grid (DESKTOP) --- */
.feature-layout .section--intro {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "one one"
    "two three";
  gap: 0;

  padding: 3rem 0 0;
  max-width: 1000px;
  justify-self: center;
}

.feature-layout .intro__one   { grid-area: one; }
.feature-layout .intro__two   { grid-area: two; justify-self: end; }
.feature-layout .intro__three { grid-area: three; padding-top: var(--space-lg); }

/* --- Profile visual --- */
.feature-layout .profile--hero {
  height: 550px;
}

/* --- Pattern List (DESKTOP = full list visible) --- */
.feature-layout .pattern-list li:not(:first-child) {
  display: list-item;
}

/* --- Section Layout (DESKTOP = row) --- */
.feature-layout .stacked {
  display: flex;
  flex-direction: row;
  gap: var(--space-md);
  align-items: center;
}

.feature-layout .section-heading {
  flex-direction: column;
  justify-content: center;
}

.feature-layout .section-heading .heading-main {
  text-transform: none;
  width: max-content;
}

.feature-layout .section-heading .heading-accent {
  text-transform: lowercase;
}

/* --- Cards (DESKTOP = 3 columns) --- */
.feature-layout .cards {
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 0;
}

.feature-layout .card {
  text-align: center;
  place-items: center;
  gap: 8px;
  padding: 0 var(--gap-2);
  border-right: 1px solid #D9D9D9;
  margin: var(--gap-3) 0;
}

.feature-layout .card svg {
  stroke-width: 1.5;
  stroke-color: #000;
}

.feature-layout .card-coin {
  display: block;
  width: 66px;
  height: 66px;
}

.feature-layout .section.justified {
  display: flex;
  flex-direction: column;
  max-width: 700px;
  gap: var(--gap-3);
  margin: 0 auto;
}

  /* =========================
   FOOTER
  ========================= */  

  .feature-layout .copyright {
    margin: 0;
    padding: var(--gap-3) 0;
    color: #E5E5E5;
    background-color: #393A3E;
  }

  .feature-layout footer {
    text-align: center;
    padding: 0;
  }

/* =========================
   MOBILE OVERRIDES
========================= */

@media (max-width: 480px) {

  .feature-layout main {
  padding: var(--gap-2);
}

 .feature-layout .section-heading.large {
  --heading-main-size: var(--type-h1);
  --heading-accent-size: calc(var(--h1) * 0.85);
  --heading-accent-offset: -12px;
}

.feature-layout .section-heading.medium {
  --heading-main-size: var(--type-h2);
  --heading-accent-size: calc(var(--type-h2) * 0.85);
  --heading-accent-offset: -4px;
}

.feature-layout .section-heading.small {
  --heading-main-size: var(--type-h2);
  --heading-accent-size: calc(var(--type-h2) * 0.9);
  --heading-accent-offset: -4px;
  padding: 0;
}

  /* --- Intro Grid (MOBILE) --- */
  .feature-layout .pattern-callout--hero {
    line-height: var(--lh-normal);
  }
  .feature-layout .section--intro {
    grid-template-columns: auto 1fr;
    grid-template-areas:
      "one two"
      "three three";
    padding: var(--space-md);
  }

  .feature-layout .intro__one   { grid-area: one; }
  .feature-layout .intro__two   { grid-area: two; margin-top: 50px; }
  .feature-layout .intro__three { grid-area: three; }

  .feature-layout .intro__one   { padding: 10px; }
  .feature-layout .intro__three { padding-top: var(--space-sm); }

  .feature-layout .intro__one,
  .feature-layout .intro__three {
    min-width: 0;
  }

  /* --- Intro Video --- */
  .feature-layout .video__wrapper {
    overflow: hidden;
    width: 100%;
}

  /* --- Profile visual --- */
.feature-layout .profile--hero {
  height: auto;
}

  /* --- Pattern List (MOBILE = first only) --- */
  .feature-layout .pattern-list li:not(:first-child) {
    display: none;
  }

  /* --- Section Layout (MOBILE = column) --- */
  .feature-layout .stacked {
    flex-direction: column;
    margin: 10px;
  }

  .feature-layout .section-heading .heading-main {
    width: auto;
  }

  .feature-layout h3 > span {
    width: 100%;
    text-align: center;
  }

  /* --- Cards (MOBILE = 1 column) --- */
  .feature-layout .cards {
    grid-template-columns: 1fr;
    gap: var(--gap-2);
    padding: 0;
  }

  .feature-layout .card {
    padding: 0;
    border: 0;
    margin: 0;
  }

  .pattern-callout--hero span:last-child {
    display: none;
  }
}